h1 {
  font-family: 'Gochi Hand', cursive;
}

h2, p, a {
  font-family: 'Varela Round', sans-serif;
}

h3 {
  font-family: 'Varela Round', sans-serif;
  font-size: 2em;
}

body {
  background-color: #eaeaea;
}

div {
  display: block;
}
.card {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  text-decoration: none;
}

#round-image {
  border-radius: 50%;
  border: dashed blue;
  border-width: 5px;
}

.image-width {
  width: 250px;
}

a {
  text-decoration: none;
}

a:hover {
  color: blue;
}
ul {
  list-style-type: none;
}

#button-blue {
  background-color: blue;
  padding: 15px;
  color: white;
  border-radius: 6px;
  line-height: 1.8em;
}

#button-blue:hover {
  background-color: lightblue;
}

.inline-block > li {
  display: inline-block;
  padding: 20px;
}
.inline-block {
  padding-left: 0px;
}

.big-icons {
  font-size: 4em;
}

.container {
  width: 700px;
  margin: 30px auto;
}

@media (max-width: 960px) {
  .container {
    width: 550px;
    margin: 30px auto;
    background-color: red;
  }
}
@media (max-width: 720px) {
  .container {
    width: 400px;
    margin: 25px auto;
    background-color: green;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
    margin: 20px auto;
    background-color: blue;
  }
}
