h1 {
  font-family: 'Gochi Hand', cursive;
  font-size: 3em;
  margin: 10px 0;
}

h2, p, a {
  font-family: 'Varela Round', sans-serif;
  margin: 18px;
}

h3 {
  font-family: 'Varela Round', sans-serif;
  font-size: 2em;
}

body {
  background-color: #74b9ff;
}

div {
  display: block;
}
.card {
  background-color: #dfe6e9;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  text-decoration: none;
  color: #2d3436;
}

#round-image {
  width: 200px;
  border-radius: 50%;
  border: solid #b2bec3;
  border-width: 10px;
}

.image-width {
  width: 200px;
  margin-right: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  color: blue;
}
ul {
  list-style-type: none;
}

#button-blue {
  background-color: #00cec9;
  padding: 15px;
  color: white;
  border-radius: 6px;
  line-height: 1.8em;
  padding-top: 15px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

#button-blue:hover {
  background-color: lightblue;
}

.inline-block > li {
  display: inline-block;
  margin: 0;
}
.inline-block {
  padding-left: 0px;
}

.big-icons {
  font-size: 4em;
  color: #b2bec3;
}

.container {
  width: 700px;
  margin: 30px auto;
}

@media (max-width: 960px) {
  .container {
    width: 550px;
    margin: 30px auto;
  }
}
@media (max-width: 720px) {
  .container {
    width: 400px;
    margin: 25px auto;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
    margin: 20px auto;
  }
}

#game {
  height: 400px;
}
